<p class="display-4">Reactive forms</p>
<div class="container">
<!-- <p class="mb-3">{{name.value}} || {{name.status}} </p>
 <label for="name">Enter Your Name</label>
<input type="text"  class="form-control" [formControl]="name"> -->

<!-- <div class="border">
<form [formGroup]="studentForm" class="mt-3" (ngSubmit)="OnSubmit()">
    <div>
    <label for="usename">Enter UserName</label>
    <input type="text" class="form-control rounded-0" formControlName="userName"/>
  </div>
  <div>
    <label for="usename">Enter Password</label>
    <input type="password" class="form-control rounded-0" formControlName="password" />
  </div> -->

  <!-- <div formGroupName="address">
    <div>
      <label for="usename">Enter city</label>
      <input type="text" class="form-control" formControlName="city"/>
    </div>
    <div>
      <label for="usename">Enter state</label>
      <input type="text" class="form-control" formControlName="state" />
    </div>
    <div>
      <label for="usename">Enter zipcode</label>
      <input type="text" class="form-control" formControlName="zipcode" />
    </div>
  </div> -->

  <!-- <br/>
  <button type="submit"  class="btn btn-primary">submit</button>
</form>
</div> -->

<!-- <p class="mb-3">{{studentForm.value | json}}</p>
<p class="mb-3">{{studentForm.status}}</p> -->

<app-dynamic-address></app-dynamic-address>

</div>
